* {
    font-family: "Open Sans", sans-serif;
}

body {
    background: url('img/hospital.jpg');
}

.container {
    background-color: #eaeaea;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 270px;
    margin-bottom: auto;
    padding: 10px;
}

img {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 44px;
    left: 600px;
    width: 100px;
}

.text {
    /* border: 2px solid green; */
    position: absolute;
    top: 94px;
    left: 693px;
    font-size: 24px;
}

.btn {
    text-decoration: none;
    background-color: #005d91;
    display: block;
    border-radius: 4px;
    border: none;
    height: 20px;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 30px;
    text-align: center;
    margin: 0px 100px;
}