* {
    font-family: "Open Sans", sans-serif;
}

body {
    background: url('img/hospital.jpg');
}

.container {
    background-color: #eaeaea;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    padding: 10px;
}

h2 {
    font: 14pt "Open Sans", sans-serif;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}

label {
    cursor: default;
    color: #5e5e5e;
}

.input {
    width: 98%;
    height: 2.5em;
    margin: 6px 0px 8px 0px;
    font-size: 16px;
    color: #000000;
}

button {
    background-color: #005d91;
    border-radius: 3.2px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    height: 2.75em;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.center {
    text-align: center;
}

.descriptionSignUp {
    text-align: center;
    line-height: 2em;
    font: 16px;
}

div a {
    height: 1.5em;
    color: #005d91;
    display: inline-block;
}

img {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 574px;
    width: 100px;
}

.text {
    /* border: 2px solid green; */
    position: absolute;
    top: 64px;
    left: 670px;
    font-size: 24px;
}